# Python 101 - An Introduction to Python

## 1. Objects

In [1]:
print(2)
print(5)
print("Hello")

2
5
Hello

In [2]:
a = 2
b = "Hello"
c = True
d = 2.0
e = [a,c,d]
print(a,b,c,d,e)

2 Hello True 2.0 [2, True, 2.0]

In [3]:
print(
    type(a),
    type(b),
    type(c),
    type(d),
    type(e),
     )

<class 'int'> <class 'str'> <class 'bool'> <class 'float'> <class 'list'>

> __DEAL WITH ERRORS!__

## 2. Operations

In [4]:
a = 2 
b = 3

In [5]:
# this is a comment
print(
    a+b, # this is a comment
    a*b, # this is a comment
    a**b, # this is a comment
    a/b,
    a//b
)

5 6 8 0.6666666666666666 0

In [6]:
"Hello" + " World"

'Hello World'

In [7]:
"Hello "*4

'Hello Hello Hello Hello '

In [8]:
#"Hello "**4

In [9]:
a = (1 > 3)
b = (3 == 3)
print(a, b)

c = True

print("1 ",a or b) #1
print("2 ",a and b) #2
print("3 ",b and c) #3

False True
1  True
2  False
3  True

## 3. Methods

In [10]:
a = "hello world"

In [11]:
type(a)

str

In [12]:
print(a.capitalize())
print(a.title())
print(a.upper())
print(a.replace("o", "--"))

Hello world
Hello World
HELLO WORLD
hell-- w--rld

## 4. Indexing and Slicing

In [13]:
a = a.upper()
a

'HELLO WORLD'

In [14]:
a[0:2]

'HE'

In [15]:
a[2:]

'LLO WORLD'

In [16]:
a[:4]

'HELL'

In [17]:
a[::3]

'HLWL'

In [18]:
a[-5:]

'WORLD'

In [19]:
a[-1]

'D'

In [20]:
a[::-1]

'DLROW OLLEH'

In [21]:
"HELL" in a

True

In [22]:
"DO" in a

False

## 5. Collection of things

* `list`
* `tuple`
* `dictionary`

### List

In [23]:
a = ["blueberry", "strawberry", "pineapple", 1, True]
type(a)

list

In [24]:
a[::-1]

[True, 1, 'pineapple', 'strawberry', 'blueberry']

In [25]:
a[-1]

True

In [26]:
a[1]

'strawberry'

In [27]:
a

['blueberry', 'strawberry', 'pineapple', 1, True]

In [28]:
a[0] = "new fruit"

In [29]:
print(a)

['new fruit', 'strawberry', 'pineapple', 1, True]

In [30]:
a.append("a new thing")

In [31]:
a

['new fruit', 'strawberry', 'pineapple', 1, True, 'a new thing']

In [32]:
a.pop()
a.pop()
a.pop()

1

In [33]:
a

['new fruit', 'strawberry', 'pineapple']

In [34]:
a.sort()

In [35]:
a

['new fruit', 'pineapple', 'strawberry']

In [36]:
a.reverse()

In [37]:
a

['strawberry', 'pineapple', 'new fruit']

In [38]:
a = sorted(a)

In [39]:
a

['new fruit', 'pineapple', 'strawberry']

In [40]:
a.sort()

In [41]:
a

['new fruit', 'pineapple', 'strawberry']

> **Challenge:** Store a bunch of heights (in metres) in a list
1. Ask five people around you for their heights (in metres).
2. Store these in a list called `heights`.
3. Append your own height to the list.
4. Get the first height from the list and print it.

In [42]:
# Solution
heights = [1.72, 1.55, 1.98, 1.66, 1.78]
heights.append(1.88)
heights[0]

1.72

 **variable assignment:** Everytime you assign something to a variable the following happens:
     - Example: x = 5  
         >    (x =) - reference:  The computer assigns some space on the harddrive and creates a link between your 
                                  variable name and this space
         >    (int) - type:       What you dont see is, that python automatically guesses the data type of your variable by 
                                  what follows after the equal sign (try "print(int(5),str(5))")
         >     (5)  - object:     Now the computer writes every information about your object in the reserved space

In [43]:
a = 5
b = a
a = 6
print(a,b)

6 5

In [44]:
a = [1,2]
b = a
a.append(3)
print(a,b)

[1, 2, 3] [1, 2, 3]

Basically there are two types of objects. Some are called by their value (like every Number or String) and some by their reference (like lists). 
- Real life comparison:
    Imagine having a excel sheet on a computer that multiple people use. Everytime someone changes it, it is changed for every 
    other user. 
    Right now you are using all the same jupyter notebook, but your changes only happen at your notebook. 
- By typing "a = b" you are either telling python that "b" should be assigned to the same reference as "a" (so both "a" and "b" point to the same harddrive space) or that "b" should get its own copy of whatever "a" is, depending on what is stored in "a".

### Tuple

In [45]:
b = (1,2,3,4,5)
type(b)

tuple

In [46]:
b1 = [1,2,3,4,5]
type(b1)

list

In [47]:
b1[0] = 2
b1

[2, 2, 3, 4, 5]

In [48]:
#b[0] = 2

### Dictionaries

`key` $\to$ `value` pairs

In [49]:
my_dict = {"Marry" : 22 , "Frank" : 33  }

In [50]:
my_dict

{'Marry': 22, 'Frank': 33}

In [51]:
my_dict["Marry"]

22

In [52]:
my_dict["Frank"]

33

In [53]:
my_dict["Anne"] = 13

In [54]:
my_dict

{'Marry': 22, 'Frank': 33, 'Anne': 13}

In [55]:
my_dict["Anne"]

13

In [56]:
#my_dict["Heidi"]

In [57]:
my_dict.get("Heidi", "Danger no entry found!")

'Danger no entry found!'

In [58]:
my_dict.items()

dict_items([('Marry', 22), ('Frank', 33), ('Anne', 13)])

In [59]:
my_dict.keys()

dict_keys(['Marry', 'Frank', 'Anne'])

In [60]:
my_dict.values()

dict_values([22, 33, 13])

## 6. Use functions

In [61]:
print(type(3))
print(len('hello'))
print(round(3.3))

<class 'int'>
5
3

In [62]:
#?round

In [63]:
round(3.14159,3)

3.142

In [64]:
dir(__builtins__);

In [65]:
import math

In [66]:
math.pi

3.141592653589793

In [67]:
import math as m

In [68]:
m.pi

3.141592653589793

In [69]:
from math import pi

In [70]:
pi

3.141592653589793

In [71]:
from math import *

In [72]:
math.sqrt(4)

2.0

In [73]:
sqrt(4)

2.0

In [74]:
math.sin(2)

0.9092974268256817

In [75]:
import copy
a = [1,2]
b = copy.deepcopy(a)
a.append(3)
print(a,b)

[1, 2, 3] [1, 2]

## 7. DRY (_Dont't repeat yourself_)
### __`for` Loops__

In [76]:
wordlist = ["hi", "hello", "by"]

In [77]:
import time
for word in wordlist:
    print(word + "!")
    time.sleep(1)
    print("-----------")
print("Done")

hi!
-----------
hello!
-----------
by!
-----------
Done

In [78]:
for e, word in enumerate(wordlist):
    print(e, word)
    print("-----")

0 hi
-----
1 hello
-----
2 by
-----

> **Challenge**
* Sum all of the values in a collection using a for loop
`numlist = [1, 4, 77, 3]`

In [79]:
# solution
numlist = [1, 4, 77, 3]
total = 0
for mymother in numlist:
    total = total + mymother
print(total)

85

> **Challenge**
* Combine items from two lists and print them as one string to the console   
`name = ["John", "Ringo", "Paul", "George"]`   
`surname = ["Lennon", "Star", "McCartney", "Harrison"]`

In [80]:
name = ["John", "Ringo", "Paul", "George"]
surname = ["Lennon", "Star", "McCartney", "Harrison"]

In [81]:
# Solution 1
for e, n in enumerate(name):
    print(e, n)
    print(n, surname[e])
    print("-----")

0 John
John Lennon
-----
1 Ringo
Ringo Star
-----
2 Paul
Paul McCartney
-----
3 George
George Harrison
-----

In [82]:
# Solution 2
for i in zip(name, surname):
    print(i[0], i[1])

John Lennon
Ringo Star
Paul McCartney
George Harrison

In [83]:
list(zip(name, surname))

[('John', 'Lennon'),
 ('Ringo', 'Star'),
 ('Paul', 'McCartney'),
 ('George', 'Harrison')]

### **`while` loop**

In [84]:
# and want to stop once a certain condition is met.
step = 0
prod = 1
while prod < 100:
    step = step + 1
    prod = prod * 2
    print(step, prod)
    
print('Reached a product of', prod, 'at step number', step)

1 2
2 4
3 8
4 16
5 32
6 64
7 128
Reached a product of 128 at step number 7

### list comprehensions

In [85]:
[(y,x) for x,y in zip(name, surname)]

[('Lennon', 'John'),
 ('Star', 'Ringo'),
 ('McCartney', 'Paul'),
 ('Harrison', 'George')]

## 8. Control Flow

In [86]:
x = 0

if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is zero

> **Challenge**
Write a countdown!

In [87]:
range(10)

range(0, 10)

In [88]:
#time.sleep(1)
for number in range(10):
    count = 10-number
    print(count)
    time.sleep(1)
    if  count == 1:
        print("Engine start!")

10
9
8
7
6
5
4
3
2
1
Engine start!

## 9. IO

Write a text file

In [89]:
f = open("../datasets/my_file.txt", "w")   
for i in range(5):
    f.write("Line {}\n".format(i))
f.close()

In [90]:
# using a context manager
with open("../datasets/my_file.txt", "a") as f:   
    for i in range(5):
        f.write("LINE {}\n".format(i))

Read a file

In [91]:
with open ("../datasets/my_file.txt", "r") as f:
    print(f.read())

Line 0
Line 1
Line 2
Line 3
Line 4
LINE 0
LINE 1
LINE 2
LINE 3
LINE 4

>**Challenge** 
* Extract the numerical values of the file `my_file.txt` into a list of floating point values.

In [92]:
my_storage = [] #list()
with open ("../datasets/my_file.txt", "r") as f:
    for line in f:
        number = float(line.split()[1]) 
        my_storage.append(number)
my_storage

[0.0, 1.0, 2.0, 3.0, 4.0, 0.0, 1.0, 2.0, 3.0, 4.0]

In [93]:
"LINE 0".split()

['LINE', '0']

In [94]:
"LINE 0".split()[1]

'0'

In [95]:
float("LINE 0".split()[1])

0.0

## 10  Functions (UDFs)

In [96]:
def my_func(a,b,c=10):
    rv = (a-b)*c
    return rv

In [97]:
my_result = my_func(a=1,  b=2)
my_result

-10

> **Challenge** 
* Write a function that computes Kelvin from Fahrenheit (`fahrenheit_to_kelvin`)
* Write a function that computes Celsius from Kelvin (`kelvin_to_celsius`)
* Write a function that computes Celsius form Fahrenheit (`fahrenheit_to_celsius`); Resue the two functions from above.

#### @1

In [98]:
def fahrenheit_to_kelvin(a):
    """
    Function to compute Fahrenheit from Kelvin
    """
    kelvin = (a-32.0)*5/9 + 273.15
    return kelvin

In [99]:
fahrenheit_to_kelvin(341)

444.8166666666666

#### @2

In [100]:
def kelvin_to_celsius(temperature_K):
    '''
    Function to compute Celsius from Kelvin
    '''
    rv = temperature_K - 273.15
    return rv

In [101]:
kelvin_to_celsius(0)

-273.15

#### @3

In [102]:
def fahrenheit_to_celsius(temperature_F):
    '''
    Function to compite Celsius from Fahrenheit
    '''
    temp_K = fahrenheit_to_kelvin(temperature_F)
    temp_C = kelvin_to_celsius(temp_K)
    return temp_C

### Code refactoring

In [103]:
%%writefile temperature_module.py

def kelvin_to_celsius(temperature_K):
    '''
    Function to compute Celsius from Kelvin
    '''
    rv = temperature_K - 273.15
    return rv

def fahrenheit_to_celsius(temperature_F):
    '''
    Function to compite Celsius from Fahrenheit
    '''
    temp_K = fahrenheit_to_kelvin(temperature_F)
    temp_C = kelvin_to_celsius(temp_K)
    return temp_C
    
def fahrenheit_to_kelvin(a):
    """
    Function to compute Fahrenheit from Kelvin
    """
    kelvin = (a-32.0)*5/9 + 273.15
    return kelvin

Overwriting temperature_module.py

In [104]:
import temperature_module as tm

In [105]:
tm.kelvin_to_celsius(100)

-173.14999999999998

In [106]:
tm.fahrenheit_to_celsius(100)

37.77777777777777

In [107]:
tm.fahrenheit_to_kelvin(100)

310.92777777777775

## Final challenge 

### Build rock sciscors paper

__Task__ 
Implement the classic children's game Rock-paper-scissors, as well as a simple predictive AI (artificial intelligence) player.

Rock Paper Scissors is a two player game.

Each player chooses one of rock, paper or scissors, without knowing the other player's choice.

The winner is decided by a set of rules:

  Rock beats scissors
  Scissors beat paper
  Paper beats rock

If both players choose the same thing, there is no winner for that round. If you don't konw the rules you may finde them [here](https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors).

For this task, the computer will be one of the players.

The operator will select Rock, Paper or Scissors and the computer will keep a record of the choice frequency, and use that information to make a weighted random choice in an attempt to defeat its opponent.

Consider the function `input()` to ask for user input. Try to implement an exit rule as well.

In [108]:
from random import choice
 
rules = {'rock': 'paper', 'scissors': 'rock', 'paper': 'scissors'}
previous = ['rock', 'paper', 'scissors']
 
while True:
    human = input('\nchoose your weapon: ')
    computer = rules[choice(previous)]  # choose the weapon which beats a randomly chosen weapon from "previous"
    if human in ('quit', 'exit'): break
 
    elif human in rules:
        print('the computer played', computer, end='; ')
 
        if rules[computer] == human:  # if what beats the computer's choice is the human's choice...
            print('yay you win!')
        elif rules[human] == computer:  # if what beats the human's choice is the computer's choice...
            print('the computer beat you... :(')
        else: print("it's a tie!")
 
    else: print("that's not a valid choice")

choose your weapon:  exit